<div class="container">





<div class="row list_of_shoes">
  <div class="col-md-3 offset-md-1">
    <br/> <br/>
 </div>
</div>


<div class="row">

  <div class="col-md-3 offset-md-0">
  <b> <!-- FILTERI --> </b>
  </div>

  <div class="col-md-3 category__name">
  <b>  <%=  %> </b>
  </div>

  <div class="col-md-3 offset-md-9">
    <div class="cijena">
  <!-- cijena -->
    </div>
    </div>

  </div>

  <div class="row list_of_shoes">
    <div class="col-md-3 offset-md-1">
      <br/> <br/>
   </div>
  </div>


<div class="row">

  <div class="col-md-3">

<!-- filteri -->

  </div>



  <div class="col-md-9">
    <% for @pre in Product.where(:category_id=> params[:id]) %>
    <% @i=Image.find_by_id(@pre.id) %>
      <% @p=Product.find_by_id(@i.id)%>
      <% @col_img=Color.find_by_id(@p.id)%>
      <% @pcol= Product.find(@p).colors %>
      <% @pcolurl= Color.find_by_id(@pcol) %>
      <div class="col-md-3">
          <%= link_to image_tag(@i.img_1, :class=>"img-responsive shoe_images imgs", :title=>@p.category_id), product_path(@p)%>
          <p><%= @p.name %></p> <br/>
          <p id="cijena_proizvoda">$<%= @p.price %></p>
          <% for @pc in @pcol %>
          <img id="boja_proizvoda" src="<%= @pc.color_img %>" title="<%= @pc.color_name %>" />
      <% end %>

      </div>
    <% end %>

    </div>

      </div>


      <div class="row ">
        <div class="col-md-6 offset-md-3">
          <center>
            <%= will_paginate @products, previous_label: "Nazad", next_label:"Naprijed" %>
        </center>
        </div>
      </div>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy;abhShoes. All rights reserved.</p>
            </div>
        </div>
    </footer>

    </div>

    <style>
    center a{
      color: black !important;
    }
    .pages{
      color: black !important;
    }
    .shoe_images{
      margin-bottom: 5px !important;
      margin-right: 0px !important;
    }
    .label1{
      display: inline-block;
    }

    .category__name{
      margin-bottom: 30px !important;
    }

    .cijena{
      margin-bottom: 30px !important;
      margin-left: 45px;
      display: inline;
    }

    #cijena{
      border: 0px;
      border-radius: 7px;
      height: 30px;
      padding: 4px;
    }

    select option{
      padding: 0px !important;
    }
    .filters{
      margin-bottom: 50px;
    }
    .form-control{
      padding-bottom: 1px !important;
      padding-top: 2px !important;
    }
    .imgs{
      height: 135px;
      width: 180px;
    }

    #boja_proizvoda{
    height: 10px;
    width: 10px;
    }
    </style>
