<!DOCTYPE html>
<html>
  <head>
    <title>ABHshoes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if !@differentindex %>
    <%= render '/layouts/nav' %>
    <% else %>
    <%= render '/layouts/navindex' %>
    <% end %>



    <div class="container">
      <span class="notice"><%= notice %></span>
      <span class="alert"><%= alert %></span>
    <%= yield %>
  </div>


  </body>
</html>
